.main {
    text-align: center;
}

.text {
    font-size: 30px;
    color: goldenrod;
}

.button {
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;

  /* gradient tła */
  background: linear-gradient(135deg, #ff4d4d, #4d79ff);

  /* półprzezroczysty tekst */
  color: rgba(255, 255, 255, 0.7);

  /* ładniejszy wygląd */
  font-weight: 600;
  transition: 0.3s ease;
}